<!DOCTYPE html>
	<html>
		
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/radar.js">
				</script>
		</head>
		<body>
			
			<div id="bannerimage">
			</div>
			
			<div class="center-text">
					<div>
  					<img src="https://images.squarespace-cdn.com/content/5b6a93759772ae3555c31081/1553314146757-725MZXKNWHWR4QZVE5MF/" width="80%" height="80%"/>
					</div>
						<h1 style="font-size:300%;">Maya Benowitz</h1>
			</div>

			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			
			<div class="wrapper cf">
			<div class="sidebar">
     			<h3>Sidebar</h3>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maxime fugiat perspiciatis.</p>
  			</div>
				</div>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mayabenowitz@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mayabenowitz">github.com/mayabenowitz</a></li>
				</ul>
			</footer>
		</body>
	</html>
