<!DOCTYPE html>
	<html>
		
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			<div id="bannerimage">
				</div>
			<div class="center-text">
					<h1 style="font-size:300%;">Maya Benowitz</h1>
				</div>

			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mayabenowitz@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mayabenowitz">github.com/mayabenowitz</a></li>
				</ul>
			</footer>
		</body>
	</html>
